tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:常规;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:center;}
.xl66
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid #FFAE4D;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:26.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid #FFAE4D;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:24.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:24.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:none;}
.xl70
	{mso-style-parent:style0;
	color:windowtext;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid #FFAE4D;}
.xl71
	{mso-style-parent:style0;
	color:windowtext;
	font-size:24.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;}
.xl72
	{mso-style-parent:style0;
	color:windowtext;
	font-size:48.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid #FFAE4D;}
.xl73
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid #FFAE4D;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;}
.xl75
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:.5pt solid #FFAE4D;
	border-left:.5pt solid #FFAE4D;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid #FFAE4D;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;}
.xl77
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:.5pt solid #FFAE4D;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;}
.xl78
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:none;
	border-left:.5pt solid #FFAE4D;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	font-size:36.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid #FFAE4D;
	border-bottom:.5pt solid #FFAE4D;
	border-left:.5pt solid #FFAE4D;}
.xl80
	{mso-style-parent:style0;
	font-size:72.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:center;}
.xl81
	{mso-style-parent:style0;
	font-size:22.0pt;
	font-family:"Adobe 黑体 Std R", sans-serif;
	mso-font-charset:128;
	text-align:left;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #FFAE4D;
	border-left:none;
	white-space:normal;}
